<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="dynamixel_system_ros2_control" params="name port_name baud_rate">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dynamixel_hardware_interface/DynamixelHardware</plugin>
        <param name="port_name">${port_name}</param>
        <param name="baud_rate">${baud_rate}</param>
        <param name="dynamixel_model_folder">/param/dxl_model</param>
        <param name="number_of_joints">0</param>
        <param name="number_of_transmissions">0</param>
        <param name="disable_torque_at_init">true</param>
        <param name="error_timeout_ms">1000</param>
        <param name="dynamixel_state_pub_msg_name">dynamixel_hardware_interface/dxl_state</param>
        <param name="get_dynamixel_data_srv_name">dynamixel_hardware_interface/get_dxl_data</param>
        <param name="set_dynamixel_data_srv_name">dynamixel_hardware_interface/set_dxl_data</param>
        <param name="reboot_dxl_srv_name">dynamixel_hardware_interface/reboot_dxl</param>
        <param name="set_dxl_torque_srv_name">dynamixel_hardware_interface/set_dxl_torque</param>
      </hardware>

      <sensor name="imu">
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="orientation.w"/>
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
      </sensor>

      <gpio name="imu">
        <param name="type">sensor</param>
        <param name="ID">1</param>
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="orientation.w"/>
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
        <param name="Return Delay Time">0</param>
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>
